.blogContent {
  width:100%;
  height:5900px;
  float:right;
  padding-bottom:5px;
}

.blogWrapper {
  width:1200px;
  margin:0 auto;
}

.detailBlog {
  width: 1180px;
  margin: 0 auto;
  padding: 10px;
  background: #DEDEDE;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px;
}
